<div id="side-panel" class="col-xs-3  col-sm-3  col-md-3  col-lg-3 well">
  	<a href="#/view2" class="viewToggle glyphicon glyphicon-indent-right"></a> <!-- Toggle switch-->
  	<div class="agentWidget well pullUp20" style="background:white;">
  		<ul class="media-list">
			<li class="media">
				<a class="pull-left" href="#">
				<!-- <img class="media-object" src="holder.js/159x84" alt="..."> -->
				<div style="height:128px; width:128px; background:#ccc;"></div>
				</a>
				<div class="media-body"><br>
					<h4 class="media-heading">{{agent.name}}</h4>
					<p>{{agent.position}}</p>
					<p>{{agent.mc}}</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="panel panel-info text-center">
		<div class="panel-heading slim">
			<h3 class="slim panel-title"><strong>F</strong>ocus</h3>
			<span class="glyphicon glyphicon-cog pull-right pullUp20"><span>
		</div>
		<div class="panel-body slim">
			<p style="font-size:3em" class="large lead text-info">SMILE</p>

		</div>
	</div>
  	<div class="panel panel-warning text-center">
		<div class="panel-heading slim">
			<h3 class="panel-title"><strong>A</strong>ccountability</h3>
		</div>
		<div class="row slim">
			<div class="panel-body">
				<div class="panel panel-default by3">
					<div class="panel-heading">
						<p class="slim smText">Conversion</p>
					</div>
					<div class="panel-body">
						<span class="score">7.27</span>
					</div>
				</div>

				<div class="panel panel-default by3">
					<div class="panel-heading">
						<p class="slim smText">Score</p>
					</div>
					<div class="panel-body">
						<span class="score">8.6</span>
					</div>
				</div>

				<div class="panel panel-default by3">
					<div class="panel-heading">
						<p class="slim smText">Attendance</p>
					</div>
					<div class="panel-body">
						<span class="score">9.5</span>
					</div>
				</div>
			</div>
			<span class="pull-left pushRight30">Training Grade:</span>
			<div class="row shrink-width pull-right pullLeft40">
				<div class="progress progress-striped active">
					<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
						<span class="sr-only">45% Complete</span>
					</div>
				</div>
			</div>


		</div>
	</div>
  </div>