<div class="nav-center">
	<sec-header></sec-header>
	<div class="btn-group">
	  <button ng-click="updateTmp(0)" type="button" class="btn btn-default">All</button>
	  <button ng-click="updateTmp(1)" type="button" class="btn btn-default">Calls</button>
	  <button ng-click="updateTmp(2)" type="button" class="btn btn-default">Training</button>
	  <button ng-click="updateTmp(3)" type="button" class="btn btn-default">Time Clock</button>
	  <button ng-click="updateTmp(4)" type="button" class="btn btn-default">Other</button>
	</div>
</div>